<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ilyarudyak.android.portfel" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Portfel" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.NewsDetailActivity" >
        </activity>
        <activity android:name=".ui.StockDetailActivity" >
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/activity_settings_label"
            >
        </activity>

        <provider
            android:name=".data.PortfolioProvider"
            android:authorities="com.ilyarudyak.android.portfel"
            android:exported="false"/>

        <service android:name=".service.MarketUpdateService"/>

        <receiver android:name=".service.AlarmReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- service and broadcast receiver for stock widget -->
        <service android:name=".widget.StockWidgetService" />
        <receiver
            android:name=".widget.StockWidgetProvider"
            android:label="@string/widget_stock_title" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_stock_info" />
        </receiver>

    </application>
</manifest>
